<div class="card"
     [ngClass]="cardModel?.cardClasses">
  <div class="card-header"
       [ngClass]="cardModel?.cardHeaderClasses"
       *ngIf="cardModel?.showHeader">
    <h5 class="card-title">{{cardModel?.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{cardModel?.subtitle}}</h6>
  </div>
  <div class="card-body"
       [ngClass]="cardModel?.cardBodyClasses">

    <ng-content></ng-content>

    <!-- Dynamic component loaded in ng-template -->
    <ng-template appComponentLoader></ng-template>

  </div>
</div>
